<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a th:href="@{/home}">Home</a>
<table>
    <thead>
    <tr>
        <td>Room Number</td>
        <td>Capacity</td>
        <td>Price</td>
        <td>Jacuzzi</td>
        <td>Sauna</td>
    </tr>
    </thead>
    <tr th:each="room : ${rooms}">
        <td th:text="${room.roomNumber}"></td>
        <td th:text="${room.roomCapacity}"></td>
        <td th:text="${room.price}"></td>
        <td th:text="${room.hasJacuzzi}"></td>
        <td th:text="${room.hasSauna}"></td>
        <td>
            <a th:href="@{'/room/' + ${room.id}}">
                <p>Show</p>
            </a>
        </td>
        <td>
            <a th:href="@{'/room/edit/' + ${room.id}}" >
                <p>Edit</p>
            </a>
        </td>
    </tr>
</table>
</body>
</html>